body {
    background: url('https://images8.alphacoders.com/108/1088862.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-column {
    padding: 30px 40px;
    background: #fff;
    margin-right: 15px;
    opacity: 78%;
}
.right-column {
    padding: 16px 40px;
    background: #fff;
    opacity: 78%;
}

p {
    width: 190px;
    font-weight: 500;
    font-size: 18px;
}

.button {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #fff;
    background: red;
    font-size: 21px;
    cursor: pointer;
}